html {
background-color: rgb(65, 88, 203);
}
body {
margin: 0 auto;
width: 1024px;
text-align: center;
}
h2 {
margin:20px; color: rgb(13, 21, 103); font-family: Verdana, sans-serif;
}

a{
color: rgb(115, 207, 255);
}
form {
margin: 20px;
}

input[type="submit"]  {
padding: 20px;
width: 50%;
background-color: rgb(50, 182, 221);
border: solid 1px #296483;
border-radius: 9px;
font-family: Verdana,sans-serif;
font-size: x-large;
color: aliceblue;
margin: 20px;
cursor: pointer;
box-shadow: 5px 5px 22px #196093;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="number"] {
width: 50%;
padding: 11px;
text-align: center;
border: solid 1px #296483;
border-radius: 9px;
font-family: Verdana,sans-serif;
font-size: x-large;
margin: 20px;
color: rgb(100, 129, 157);
box-shadow: 5px 5px 22px #196093;
}
table{
background-color: rgb(52, 128, 202);
padding: 50px;
margin: 20px auto;
border-radius: 10px;
font-family: verdana, sans-serif;
font-size: x-large;
color: rgb(217, 229, 255);
text-align: center;
}

thead tr td {
border-bottom: dotted 2px rgb(51, 94, 140);
}
tbody{
background-color: rgba(255, 255, 255, 0.11);
}
table > tbody > tr>td {
display: inline-block;
padding: 15px;

}